<div class="content p-4" role="main">
  <h3 class="text-center mb-4">
    Key Value Store
  </h3>
  <h5>Add Key-Value</h5>
  <form [formGroup]="addFormGroup" class="mb-3">
    <div>
      Key:
      <input formControlName="keyToAdd"/>
      Value:
      <input formControlName="valueToAdd" />

      <button (click)="addKeyValue()" class="m-3">Add</button>
    </div>
  </form>

  <h5>Delete Key-Value</h5>
  <form [formGroup]="deleteFormGroup" class="mb-3">
    <div>
      Key:
      <input formControlName="keyToDelete"/>

      <button (click)="deleteKeyValue()" class="m-3">Delete</button>

      <span *ngIf="isKeyDeleted">Status: deleted</span>
    </div>
  </form>

  <h5>Get Key-Value</h5>
  <form [formGroup]="getFormGroup">
    <div>
      Key:
      <input formControlName="keyToGet"/>

      <button (click)="getKeyValue()" class="m-3">Get</button>

      <span *ngIf="value">Value: {{value}}</span>
    </div>
  </form>
</div>



